*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 50px;
    height: 100px;
    width: 100vw;
}

.header-nav{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;;
    justify-content: space-evenly;
}

.header-link{
    font-size: 22px;
    text-decoration: none;
    color: white;
    font-family: "Libre Baskerville", sans-serif;
    letter-spacing: .5rem;
    padding: 0 5px;
    position: relative;
}

.header-link::after{
    content: "";
    width: 96%;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 1px;
    background-color: white;
    opacity: 0;
    transition: all .5s ease;
}

.header-link:hover::after{
    opacity: 1;
}

.full-view{
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/images/PresleyImage18.jpg");
    background-size: cover;
    background-position: -10%;
}

.full-view-credit{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: "Libre Baskerville";
    letter-spacing: .4rem;
    color: white
}

.images-nav-grid-cont{
    height: 100vh;
    width: 100vw;
    position: relative;
    opacity: 0%;
    top: 100px;
    transition: all 1s ease;
}

.images-nav-grid-cont h4{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 15px;
    letter-spacing: .5rem;
    color: rgb(78, 78, 78);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

.images-nav-grid-cont h2{
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    letter-spacing: .3rem;
    color: rgb(78, 78, 78);
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 300;
}




.scroll-effect{
    top: 0px;
    opacity: 100%;
}