*{
    margin: 0;
    padding: 0;
}

html{
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 50px;
    height: 100px;
    width: 100vw;
}

.relative-header{
    position: relative;
    top:  0;
    margin-top: 50px;
    margin-bottom: 150px
}

.header-nav{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-link{
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
    font-family: "Libre Baskerville", sans-serif;
    letter-spacing: .5rem;
    padding: 0 5px;
    position: relative;
}

.header-link::after{
    content: "";
    width: 96%;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 1px;
    background-color: white;
    opacity: 0;
    transition: all .5s ease;
}

.header-link:hover::after{
    opacity: 1;
}

.header-cam-logo{
    width: 250px
}

.full-view{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: -10%;
}

.full-view-credit{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: "Libre Baskerville";
    letter-spacing: .4rem;
    color: white
}

.images-nav-grid-cont{
    height: 100vh;
    width: 100vw;
    position: relative;
    opacity: 0%;
    top: 100px;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
}

.images-nav-grid-cont h4{
    font-size: 15px;
    letter-spacing: .5rem;
    color: rgb(78, 78, 78);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-top: 100px;
}

.images-nav-grid-cont h2{
    margin: 30px 0 50px 0;
    text-wrap: nowrap;
    font-size: 30px;
    letter-spacing: .3rem;
    color: rgb(78, 78, 78);
    font-family: "Libre Baskerville", sans-serif;
    font-weight: 300;
}

.images-nav-grid{
    width: 80%;
    height: 90%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
}

.images-nav-grid-cont:after{
    content: "";
    width: 80%;
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: black;
}

.nav-grid-small{
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-grid-large1{
    grid-column: span 2;
    grid-row: span 2;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-grid-large2{
    grid-column: span 2;
    grid-row: span 2;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-img-center{
    background-position: center ;
}

.nav-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .5s ease;
}

.nav-grid:hover{
    scale: .9;
}

.nav-grid h1{
    font-size: 35px;
    color: white;
    font-family: "Libre Baskerville", sans-serif;
    font-weight: normal;
    letter-spacing: .2rem;
}

.nav-grid-large1 h1{
    font-size: 50px
}

.nav-grid-large2 h1{
    font-size: 50px
}

.main-meet-banner{
    position: relative;
    height: fit-content;
    padding: 50px 100px;
    background-color: #f1f1f1;
    color: #6e6e6e;
    width: 1200px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}

.meet-banner-content{
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.meet-banner-content h3{
    font-size: 30px;
    font-family: "Montseratt", sans-serif;
    font-weight: normal;
    letter-spacing: .3rem;
}

.meet-banner-content p{
    font-size: 18px;
    font-family: "Libre Baskerville", sans-serif;
    line-height: 30px;
}

.meet-banner-content a{
    height: 120px;
    width: 120px;
    margin: 25px auto 0 auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: all .5s ease;
}

.meet-banner-content a:hover{
    background-color: #6e6e6e;
    color: white;
}

.info-card-large-cont{
    width: 75vw;
    height: calc(75vw * .5);
    margin: auto;
    margin-bottom: 5vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;
}

.info-card-large-info{
    background-color: white;
    position: relative;
    width: 40%;
    padding-top: 40%;
    margin-right:6%
}

.info-card-large-info > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info-card-large-info h2{
    font-size: 1.7vw;
    font-family: "Libre Baskerville";
    font-weight: normal;
    color: #6e6e6e;
    letter-spacing: .3rem;
    text-align: center;
    margin-top: 50px;
}

.seperator{
    width: 1px;
    height: 10%;
    background-color: #6e6e6e;
    margin: 0 25px;
}


.info-card-large-info p{
    font-size: 1.4vw;
    color: #6e6e6e;
    text-align: center;
    line-height: 2vw;
    margin: 0 10% 10% 10%
}

.offset-collage{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    background-color: rgb(238, 238, 238);
}

.offset-column{
    height: fit-content;
    width: 27.5%;
    margin: 1vw
}

.offset-item{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin-top: 2vw
}

.offset-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.offset-column:nth-child(odd){
    position: relative;
    bottom: 5vw
}

.offset-column:nth-child(even){
    position: relative;
    top: 3vw
}

.experience-header-div{
    background-color: #f1f1f1;
    padding: 1.5vw 0;
    margin-bottom: 25px;
}

.experience-header1{
    font-size: 3vw;
    margin-bottom: 1vw;
    letter-spacing: .3vw
}

.experience-header2{
    font-size: 1.6vw;
    letter-spacing: .1vw
}

.experience-header-p{
    max-width: 50%;
    margin: 1vw auto 0 auto;
    font-size: .9vw;
}

.experience-grid{
    display: grid;
    width: 60vw;
    margin: 4vw auto 4vw auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2vw;
}

.experience-grid-outer{
    width: 28vw;
    position: relative;
    padding-bottom: 25vw;
}

.experience-grid-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.experience-grid-inner{
    height: 90%;
    width: 90%;
    margin: 5% auto 5% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.experience-grid-inner h1{
    font-size: 2vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s ease;
}

.experience-grid-inner p{
    font-size: 1.1vw;
    max-width: 60%;
    text-align: center;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .5s ease;
}

.experience-grid-content:hover .experience-grid-inner{
    background-color: white;
}

.experience-grid-content:hover .experience-grid-inner h1{
    top: 30%;
    color: black;
}

.experience-grid-content:hover .experience-grid-inner p{
    top: 60%;
    color: black;
    opacity: 100;
}

.pricing-grid{
    width: 47vw;
    height: calc(47vw);
    margin: 2vw auto 4vw auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1vw;
    background-color: #c2c2c2;
    padding: 4vw;
}

.pricing-item-outer{
    cursor: pointer;
    background-color: white;
    transition: all .5s ease;
}

.pricing-item-inner{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing-item-outer:hover{
    scale: .9
}

.pricing-item-inner h2{
    font-size: 1.5vw;
    text-align: center;
    margin: 0 1vw;
    font-family: "Libre Baskerville";
    font-weight: normal;
}

.pricing-item-inner p{
    font-size: 1vw;
    text-align: center;
    margin: 0 1vw;
    font-family: "Montserrat";
}



.cormorant{
    font-family: "Cormorant Garamond";
}

.libre{
    font-family: "Libre Baskerville";
}

.text-center{
    text-align: center;
}

.normal{
    font-weight: normal;
}

.white{
    color: white
}

.dark{
    color: #6e6e6e
}

.black{
    color: black
}

.dark:hover::after{
    background-color: #6e6e6e;
    opacity: 1;
}

.scroll-effect{
    top: 0px;
    opacity: 100%;
}

footer{
    height: 150px;
    background-color: rgb(206, 207, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.footer-logo{
    height: 100px;
}

.footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
}

.footer-socials{
    margin-top: 15px;
}

.footer-icon{
    height: 30px;
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
}

.footer-icon:hover{
    filter: invert(1);
}


